.menu-item {
  $animationSpeed: 0.5s;
  $easing: cubic-bezier(0.25, 0.45, 0.45, 0.95);

  cursor: pointer;
  position: relative;
  overflow: hidden;
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px #777;
  margin: 0 7.5px 15px;

  

  .bg-image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    transform: scale(1.001);
    transition: transform $animationSpeed $easing;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  @media screen and (max-width:800px) {
    height: 200px;
    min-width: 200px;
    width: 10%;
  }

  .content {
    z-index: 1;
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color $animationSpeed $easing;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #1e1e1e;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }

  &:hover {
    .bg-image {
      transform: scale(1.2);
    }

    .content {
      background-color: white;
    }
  }
}